Flutter/helloWorld.dart
*.exe
*.exe


gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
key.properties
*.py
*.yaml
*.gradle
*.kt
*.xml
*.h
*.txt
*.cpp
*.rc
*.pbxproj
*.plist
*.xcconfig
*.entitlements
*.cc
*.cmake
*.json
*.lock
*.manifest
*.ico
